<h1>Email Response Generator</h1>

<%= form_with url:"/generate_response", method: :post do |form| %>
  <%= form.text_area :query, placeholder: 'Enter a story prompt' %>
  <%= form.submit "Generate Response" %>
<% end %>

<% if @email_response.present? %>
 <%= safe_join(@email_response.split("\n"), "<br />".html_safe) %>
<% end %>

<%= console %>
